
$color: #0066b1;
$color-orange: #f36f21;
$color-green: #0cb14b;
$white: #fff;
$grayd2: #d2d2d2;

.nguoinoitieng {
  margin-bottom: 60px;
  .img-noitieng {
    display: flex;
    .famous-img {
      width: 16.6666%;
      position: relative;
      .instagram-text-follow{
        position: absolute;
        color: $white;
        top: 40%;
        left:40%;
        bottom: 0;
        right: 0;
        content: "";
        transition: all 0.3s ease-out 0s;
        -webkit-transition: all 0.3s ease-out 0s;
        i{
          opacity: 0;
          visibility: hidden;
        }
      }
    }
      .famous-img:before{
        background: rgba(255,255,255,0.2);
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        transition: all 0.3s ease-out 0s;
        -webkit-transition: all 0.3s ease-out 0s;
        transform: scale(0);
        -webkit-transform: scale(0);
      }
      .famous-img:hover{
        &:before{
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          -webkit-transform: scale(1);
        }
        i{
          opacity: 1;
          visibility: visible;
        }
    }
  }
}
