.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " "; }

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
  clear: both; }

button {
  border: none; }

/*end bootraps*/
.radius5, .chuyen-nganh-title, .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich {
  border-radius: 5px; }

.color, .content-thongtin > ul > li:before, .sinhvien_slider-outer .sinhvien-item .sv-career, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li:before {
  color: #0066b1; }

.font-bold, .content-thongtin > h5, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:first-child {
  font-weight: 700; }

.black333 {
  color: #333; }

.grayd2 {
  color: #d2d2d2; }

.color-orange, .sinhvien_slider-outer .sinhvien-item .sv-desc:before, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li:before {
  color: #f36f21; }

.color-green {
  color: #0cb14b; }

.white, .title-thongtin {
  color: #fff; }

.bg-color, .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap .readmore:after, .chuyen-nganh-wrap .col-content .col-content-inner .chuyen-nganh-title, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4:after {
  background-color: #0066b1; }

.bg-color-orange, .title-thongtin {
  background: #f36f21; }

.bg-color-green {
  background: #0cb14b; }

.list-none, .content-thongtin > ul {
  list-style: none; }

.title12 {
  font-size: 12px;
  line-height: normal; }

.title18, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc h5 {
  font-size: 18px;
  line-height: normal; }

.after-df, .title-box:after, .content-thongtin > ul > li:before, .sinhvien_slider-outer .sinhvien-item .sv-desc:before, .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap .readmore:after, .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich:before, .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang:before, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li:before, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4:after, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li:before {
  content: "";
  display: block;
  position: absolute; }

.logo {
  max-height: 40px;
  width: auto; }

img {
  width: 100%; }

.toggle-mobile-btn {
  font-size: 30px; }

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }

.title-box {
  font-size: 18px;
  line-height: normal;
  color: #0066b1;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .title-box:after {
    width: 30px;
    height: 3px;
    background: #f36f21;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px; }

.transition, .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap .readmore:after {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s; }

.pst-absolute, .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang > span, .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang i {
  position: absolute; }

.radius15, .fancybox-chuyen-nganh {
  border-radius: 15px; }

.overflow-hidden, .fancybox-chuyen-nganh .first-block .first-block-inner {
  overflow: hidden; }

.pst-relative, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li {
  position: relative; }

.font-500, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text .job-target, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li {
  font-weight: 500; }

.form-dangky input, .form-dangky select {
  width: 100%;
  padding: 0px 15px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  border: 1px solid #d2d2d2; }
.form-dangky button[type="submit"] {
  background: #f36f21;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding: 0px;
  display: block;
  color: #fff; }

.wcs-desc {
  font-weight: 700; }

.row1-mobile {
  padding-top: 40px; }
  .row1-mobile .desc2 {
    font-weight: 700;
    margin-bottom: 15px; }

.btn-wrap a {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #0066b1;
  color: #fff;
  text-align: center;
  border-radius: 5px; }

.chuyen-nganh-title {
  background: #0066b1;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center; }

.lst-chuyen-nganh {
  padding-left: 15px;
  font-size: 18px; }
  .lst-chuyen-nganh > li {
    margin-bottom: 15px; }
  .lst-chuyen-nganh .lst-qtkd {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px; }
    .lst-chuyen-nganh .lst-qtkd > li {
      margin-bottom: 15px; }

.title-thongtin {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase; }

.content-thongtin > ul {
  padding-left: 0px; }
  .content-thongtin > ul > li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px; }
    .content-thongtin > ul > li:before {
      font-family: FontAwesome;
      content: "\f0da";
      left: 0px; }
    .content-thongtin > ul > li:last-child {
      margin-bottom: 0px; }
.content-thongtin > h5 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px; }

.sinhvien_slider-outer .sinhvien-item {
  position: relative;
  margin-bottom: 50px;
  border: 1px solid #d2d2d2;
  padding: 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1); }
  .sinhvien_slider-outer .sinhvien-item .img-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 35px;
    bottom: -25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
  .sinhvien_slider-outer .sinhvien-item .sv-name {
    position: relative;
    padding-bottom: 14px; }
  .sinhvien_slider-outer .sinhvien-item .sv-desc {
    text-indent: 25px;
    position: relative; }
    .sinhvien_slider-outer .sinhvien-item .sv-desc:before {
      font-family: FontAwesome;
      content: "\f064";
      text-indent: 0px;
      font-size: 16px;
      top: -1px; }
.sinhvien_slider-outer .owl-nav button.owl-prev {
  left: -30px; }
.sinhvien_slider-outer .owl-nav button.owl-next {
  right: -30px; }

.nguoinoitieng .img-noitieng {
  display: flex;
  flex-wrap: wrap; }
  .nguoinoitieng .img-noitieng .famous-img {
    width: 33.33333%;
    position: relative; }
    .nguoinoitieng .img-noitieng .famous-img .instagram-text-follow {
      position: absolute;
      color: #fff;
      top: 40%;
      left: 40%;
      bottom: 0;
      right: 0;
      content: "";
      transition: all 0.3s ease-out 0s;
      -webkit-transition: all 0.3s ease-out 0s; }
      .nguoinoitieng .img-noitieng .famous-img .instagram-text-follow i {
        opacity: 0;
        visibility: hidden; }
  .nguoinoitieng .img-noitieng .famous-img a {
    display: block; }
    .nguoinoitieng .img-noitieng .famous-img a:before {
      background: rgba(255, 255, 255, 0.2);
      opacity: 0;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      transition: all 0.3s ease-out 0s;
      -webkit-transition: all 0.3s ease-out 0s;
      transform: scale(0);
      -webkit-transform: scale(0); }
  .nguoinoitieng .img-noitieng .famous-img:hover a:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1); }
  .nguoinoitieng .img-noitieng .famous-img:hover i {
    opacity: 1;
    visibility: visible; }

.footer {
  background: #333; }

.logo-ft-wrap {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px; }

.chuyen-nganh-wrap {
  padding-top: 50px;
  padding-bottom: 0px; }
  .chuyen-nganh-wrap .title-box-wrap .title-box {
    margin-bottom: 45px; }
  .chuyen-nganh-wrap .chuyen-nganh-item {
    margin-bottom: 30px; }
    .chuyen-nganh-wrap .chuyen-nganh-item .img-wrap {
      display: block; }
    .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap {
      border: 1px solid #d2d2d2;
      border-top: none;
      padding: 15px 30px 25px 30px; }
      .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap h3 {
        margin-bottom: 10px; }
      .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap .readmore {
        position: relative; }
        .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap .readmore:after {
          width: 100%;
          height: 1px;
          bottom: 0px; }
        .chuyen-nganh-wrap .chuyen-nganh-item .text-wrap .readmore:hover:after {
          background: #f36f21; }
  .chuyen-nganh-wrap .col-dangky-inner {
    max-width: 280px; }
    .chuyen-nganh-wrap .col-dangky-inner .form-dangky {
      margin-left: 0px;
      margin-top: 0px;
      padding-top: 25px;
      margin-bottom: 30px; }
    .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich {
      padding: 25px 15px; }
      .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich:before {
        width: 30px;
        height: 30px;
        background: #333;
        z-index: -1;
        bottom: -20px;
        right: 70px; }
    .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang {
      position: relative;
      display: block;
      width: 100%;
      height: 100px;
      margin-top: -80px;
      border-radius: 0px 0px 5px 0px;
      border-radius: 0px 0px 5px 0px;
      overflow: hidden; }
      .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang:before {
        width: 0;
        height: 0;
        border-bottom: 100px solid #0066b1;
        border-left: 100px solid transparent;
        right: 0px; }
      .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang > span {
        right: 0;
        top: calc(50% - 2px);
        right: -10px;
        transform: rotate(-45deg); }
      .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang i {
        right: 3px;
        bottom: 8px; }
  .chuyen-nganh-wrap .col-content .col-content-inner {
    margin-left: -55px; }
    .chuyen-nganh-wrap .col-content .col-content-inner .chuyen-nganh-title {
      height: 50px;
      line-height: 50px;
      padding: 0px 15px;
      border-radius: 5px 5px 0px 0px; }
    .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content {
      padding: 30px 15px;
      border: 1px solid #d2d2d2;
      border-top: none;
      border-radius: 0px 0px 5px 5px; }
      .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .han-nop {
        margin-bottom: 15px; }
      .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin {
        display: block;
        max-height: 520px;
        overflow: hidden;
        overflow-y: auto;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        /* width */ }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar {
          width: 8px;
          border-radius: 5px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar-track {
          background: #fafafa;
          border-radius: 5px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar-thumb {
          background: #0066b1;
          border-radius: 5px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar-thumb:hover {
          background: rgba(0, 102, 177, 0.8); }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin .mau-dk-xettuyen {
          padding: 5px 15px;
          margin-left: 5px;
          border-radius: 30px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td {
          border: 1px solid #d2d2d2;
          border-collapse: collapse; }
          .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc h5 {
            margin-bottom: 15px;
            margin-top: 10px; }
            .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc h5 i {
              margin-right: 5px; }
          .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc ul {
            padding-left: 14px !important; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:first-child {
          min-width: 140px;
          padding-left: 15px;
          text-transform: uppercase; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child {
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px; }
          .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul {
            list-style: none;
            padding-left: 0px; }
            .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li {
              position: relative;
              margin-bottom: 10px;
              padding-left: 10px;
              padding-left: 10px; }
              .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li:before {
                font-family: FontAwesome;
                content: "\f0da";
                left: 0px; }
  .chuyen-nganh-wrap .btn-wrap {
    padding-top: 30px; }

.fancybox-chuyen-nganh {
  max-width: 800px;
  padding: 15px 15px !important; }
  .fancybox-chuyen-nganh .first-block .first-block-inner {
    border-radius: 10px; }
    .fancybox-chuyen-nganh .first-block .first-block-inner .content-text {
      padding: 0px 15px 15px 15px; }
      .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4 {
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 15px; }
        .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4:after {
          width: 30px;
          height: 3px;
          bottom: 0px; }
  .fancybox-chuyen-nganh .second-block .second-block-inner .job-target {
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px; }
    .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li {
      margin-bottom: 10px;
      padding-left: 10px; }
      .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li:before {
        font-family: FontAwesome;
        content: "\f0da";
        left: 0px; }
  .fancybox-chuyen-nganh .second-block .second-block-inner .btn-wrap a:focus {
    color: #fff; }

/*# sourceMappingURL=mobile.css.map */
