.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " "; }

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
  clear: both; }

button {
  border: none; }

/*end bootraps*/
/* fancybox */
body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease,visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  transition: opacity .25s ease 0s,visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px 44px 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0 0; }

.fancybox-slide--image:before {
  display: none; }

.fancybox-slide--html {
  padding: 6px 6px 0; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0 0 44px;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-slide--html .fancybox-content {
  margin: 0 0 6px; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable=true] {
  cursor: text; }

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: calc(100% - 44px);
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  width: 100%; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button.disabled, .fancybox-button.disabled:hover, .fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:nth-child(1), .fancybox-button--pause svg:nth-child(1), .fancybox-button--play svg:nth-child(2) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  transition-timing-function: linear;
  z-index: 99998; }

.fancybox-close-small {
  background: transparent !important;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

.fancybox-navigation .fancybox-button {
  background: transparent;
  height: 100px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px; }

.fancybox-navigation .fancybox-button div {
  background: rgba(30, 30, 30, 0.6);
  height: 100%;
  padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0; }

.fancybox-caption {
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px;
  right: 0; }

.fancybox-caption:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1; }

.fancybox-caption:after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
  left: 44px;
  position: absolute;
  right: 44px;
  top: 0; }

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
  animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }
@keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-1turn);
  transform: rotate(-1turn); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0); }

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1); }

@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }

  .fancybox-slide--image {
    padding: 6px 0 0; }

  .fancybox-slide--image .fancybox-content {
    margin-bottom: 6px; }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; } }
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus:before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1; }

@media (max-width: 768px) {
  .fancybox-thumbs {
    width: 110px; }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }

  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }
/* end fancybox */
/* Owl Carousel */
.owl-carousel, .owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: none; }

.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: block; }

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.owl-height {
  transition: height .5s ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease; }

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/* End Owl Carousel */
/* Owl theme */
.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  margin-top: 10px; }

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/* Owl theme */
.radius5, .chuyen-nganh-title, .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich {
  border-radius: 5px; }

.color, .content-thongtin > ul > li:before, .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-career, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li:before {
  color: #0066b1; }

.font-bold, .content-thongtin > h5, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:first-child {
  font-weight: 700; }

.black333 {
  color: #333; }

.grayd2 {
  color: #d2d2d2; }

.color-orange, .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-desc:before, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li:before {
  color: #f36f21; }

.color-green {
  color: #0cb14b; }

.white, .title-thongtin {
  color: #fff; }

.bg-color, .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap .readmore:after, .chuyen-nganh-wrap .col-content .col-content-inner .chuyen-nganh-title, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4:after {
  background-color: #0066b1; }

.bg-color-orange, .title-thongtin {
  background: #f36f21; }

.bg-color-green {
  background: #0cb14b; }

.list-none, .content-thongtin > ul {
  list-style: none; }

.title12 {
  font-size: 12px;
  line-height: normal; }

.title18, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc h5 {
  font-size: 18px;
  line-height: normal; }

html.i-amphtml-singledoc > body {
  overflow-x: hidden !important; }

.after-df, .title-box:after, .content-thongtin > ul > li:before, .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-desc:before, .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap .readmore:after, .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich:before, .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang:before, .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li:before, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4:after, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li:before {
  content: "";
  display: block;
  position: absolute; }

.logo {
  max-height: 40px;
  width: auto; }

img {
  width: 100%; }

.toggle-mobile-btn {
  font-size: 30px; }

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }

.title-box {
  font-size: 18px;
  line-height: normal;
  color: #0066b1;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .title-box:after {
    width: 30px;
    height: 3px;
    background: #f36f21;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 0px; }

.transition, .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap .readmore:after {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s; }

.pst-absolute, .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang > span, .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang i {
  position: absolute; }

.radius15, .fancybox-chuyen-nganh {
  border-radius: 15px; }

.overflow-hidden, .fancybox-chuyen-nganh .first-block .first-block-inner {
  overflow: hidden; }

.pst-relative, .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-name, .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-desc, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li {
  position: relative; }

.font-500, .fancybox-chuyen-nganh .first-block .first-block-inner .content-text .job-target, .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li {
  font-weight: 500; }

.form-dangky input, .form-dangky select {
  width: 100%;
  padding: 0px 15px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  border: 1px solid #d2d2d2; }
.form-dangky button[type="submit"] {
  background: #f36f21;
  height: 40px;
  line-height: 40px;
  width: 100%;
  padding: 0px;
  display: block;
  color: #fff; }

.wcs-desc {
  font-weight: 700; }

.row1-mobile {
  padding-top: 40px; }
  .row1-mobile .desc2 {
    font-weight: 700;
    margin-bottom: 15px; }

.btn-wrap a {
  display: block;
  height: 40px;
  line-height: 40px;
  background: #0066b1;
  color: #fff;
  text-align: center;
  border-radius: 5px; }

.chuyen-nganh-title {
  background: #0066b1;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center; }

.lst-chuyen-nganh {
  padding-left: 15px;
  font-size: 18px; }
  .lst-chuyen-nganh > li {
    margin-bottom: 15px; }
  .lst-chuyen-nganh .lst-qtkd {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px; }
    .lst-chuyen-nganh .lst-qtkd > li {
      margin-bottom: 15px; }

.title-thongtin {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase; }

.content-thongtin > ul {
  padding-left: 0px; }
  .content-thongtin > ul > li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px; }
    .content-thongtin > ul > li:before {
      font-family: FontAwesome;
      content: "\f0da";
      left: 0px; }
    .content-thongtin > ul > li:last-child {
      margin-bottom: 0px; }
.content-thongtin > h5 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 15px; }

.cau-chuyen-sv-wrap {
  padding-bottom: 30px; }

.sinhvien_slider-outer {
  margin: 0px -7.5px; }
  .sinhvien_slider-outer .owl-stage-outer {
    padding-top: 15px;
    padding-bottom: 45px;
    margin-right: -5px; }
    .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item {
      padding: 0px 7.5px; }
      .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner {
        border: 1px solid #d2d2d2;
        padding: 15px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1); }
        .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .img-wrap {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          right: 30px;
          bottom: -25px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
        .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-name {
          padding-bottom: 14px; }
        .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-desc {
          text-indent: 25px; }
          .sinhvien_slider-outer .owl-stage-outer .owl-item .sinhvien-item .sv-item-inner .sv-desc:before {
            font-family: FontAwesome;
            content: "\f064";
            text-indent: 0px;
            font-size: 16px;
            top: -1px; }

.owl-dots {
  height: 20px; }
  .owl-dots .owl-dot {
    outline: none !important; }
    .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
      background: #0066b1 !important; }

.nguoinoitieng .img-noitieng {
  display: flex;
  flex-wrap: wrap; }
  .nguoinoitieng .img-noitieng .famous-img {
    width: 33.33333%;
    position: relative; }
    .nguoinoitieng .img-noitieng .famous-img .instagram-text-follow {
      position: absolute;
      color: #fff;
      top: 40%;
      left: 40%;
      bottom: 0;
      right: 0;
      content: "";
      transition: all 0.3s ease-out 0s;
      -webkit-transition: all 0.3s ease-out 0s; }
      .nguoinoitieng .img-noitieng .famous-img .instagram-text-follow i {
        opacity: 0;
        visibility: hidden; }
  .nguoinoitieng .img-noitieng .famous-img a {
    display: block; }
    .nguoinoitieng .img-noitieng .famous-img a:before {
      background: rgba(255, 255, 255, 0.2);
      opacity: 0;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      transition: all 0.3s ease-out 0s;
      -webkit-transition: all 0.3s ease-out 0s;
      transform: scale(0);
      -webkit-transform: scale(0); }
  .nguoinoitieng .img-noitieng .famous-img:hover a:before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1); }
  .nguoinoitieng .img-noitieng .famous-img:hover i {
    opacity: 1;
    visibility: visible; }

.footer {
  background: #333;
  padding-bottom: 30px; }

.logo-ft-wrap {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px; }

.chuyen-nganh-wrap {
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0px -7.5px; }
  .chuyen-nganh-wrap .title-box-wrap .title-box {
    margin-bottom: 45px; }
  .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer {
    margin-right: -5px; }
    .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item {
      margin-bottom: 30px; }
      .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner {
        padding: 0px 7.5px; }
        .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .img-wrap {
          display: block; }
          .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .img-wrap img {
            width: 100%; }
        .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap {
          border: 1px solid #d2d2d2;
          border-top: none;
          padding: 20px 20px 25px 20px; }
          .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap h3 {
            margin-bottom: 10px;
            margin-top: 0px; }
          .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap .readmore {
            position: relative; }
            .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap .readmore:after {
              width: 100%;
              height: 1px;
              bottom: 0px;
              left: 0px; }
            .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-stage-outer .chuyen-nganh-item .chuyen-nganh-item-inner .text-wrap .readmore:hover:after {
              background: #f36f21; }
  .chuyen-nganh-wrap .js_chuyen-nganh-slider .owl-dots {
    margin-top: 0px; }
  .chuyen-nganh-wrap .col-dangky-inner {
    max-width: 280px; }
    .chuyen-nganh-wrap .col-dangky-inner .form-dangky {
      margin-left: 0px;
      margin-top: 0px;
      padding-top: 25px;
      margin-bottom: 30px; }
    .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich {
      padding: 25px 15px; }
      .chuyen-nganh-wrap .col-dangky-inner .bang-greenwich:before {
        width: 30px;
        height: 30px;
        background: #333;
        z-index: -1;
        bottom: -20px;
        right: 70px; }
    .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang {
      position: relative;
      display: block;
      width: 100%;
      height: 100px;
      margin-top: -80px;
      border-radius: 0px 0px 5px 0px;
      border-radius: 0px 0px 5px 0px;
      overflow: hidden; }
      .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang:before {
        width: 0;
        height: 0;
        border-bottom: 100px solid #0066b1;
        border-left: 100px solid transparent;
        right: 0px; }
      .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang > span {
        right: 0;
        top: calc(50% - 2px);
        right: -10px;
        transform: rotate(-45deg); }
      .chuyen-nganh-wrap .col-dangky-inner .xem-mau-bang i {
        right: 3px;
        bottom: 8px; }
  .chuyen-nganh-wrap .col-content .col-content-inner {
    margin-left: -55px; }
    .chuyen-nganh-wrap .col-content .col-content-inner .chuyen-nganh-title {
      height: 50px;
      line-height: 50px;
      padding: 0px 15px;
      border-radius: 5px 5px 0px 0px; }
    .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content {
      padding: 30px 15px;
      border: 1px solid #d2d2d2;
      border-top: none;
      border-radius: 0px 0px 5px 5px; }
      .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .han-nop {
        margin-bottom: 15px; }
      .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin {
        display: block;
        max-height: 520px;
        overflow: hidden;
        overflow-y: auto;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        /* width */ }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar {
          width: 8px;
          border-radius: 5px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar-track {
          background: #fafafa;
          border-radius: 5px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar-thumb {
          background: #0066b1;
          border-radius: 5px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin::-webkit-scrollbar-thumb:hover {
          background: rgba(0, 102, 177, 0.8); }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin .mau-dk-xettuyen {
          padding: 5px 15px;
          margin-left: 5px;
          border-radius: 30px; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td {
          border: 1px solid #d2d2d2;
          border-collapse: collapse; }
          .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc h5 {
            margin-bottom: 15px;
            margin-top: 10px; }
            .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc h5 i {
              margin-right: 5px; }
          .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td .hocbong-desc ul {
            padding-left: 14px !important; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:first-child {
          min-width: 140px;
          padding-left: 15px;
          text-transform: uppercase; }
        .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child {
          padding-top: 15px;
          padding-left: 15px;
          padding-right: 15px; }
          .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul {
            list-style: none;
            padding-left: 0px; }
            .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li {
              position: relative;
              margin-bottom: 10px;
              padding-left: 10px;
              padding-left: 10px; }
              .chuyen-nganh-wrap .col-content .col-content-inner .thong-tin-content .tbl-thongtin tr td:last-child ul li:before {
                font-family: FontAwesome;
                content: "\f0da";
                left: 0px; }
  .chuyen-nganh-wrap .btn-wrap {
    padding-top: 30px; }

.fancybox-chuyen-nganh {
  max-width: 800px;
  padding: 15px 15px !important; }
  .fancybox-chuyen-nganh .first-block .first-block-inner {
    border-radius: 10px; }
    .fancybox-chuyen-nganh .first-block .first-block-inner .content-text {
      padding: 0px 15px 15px 15px; }
      .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4 {
        padding-bottom: 15px;
        margin-bottom: 15px;
        margin-top: 15px; }
        .fancybox-chuyen-nganh .first-block .first-block-inner .content-text > h4:after {
          width: 30px;
          height: 3px;
          bottom: 0px; }
  .fancybox-chuyen-nganh .second-block .second-block-inner .job-target {
    border-radius: 10px;
    border: 1px solid #d2d2d2;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px; }
    .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li {
      margin-bottom: 10px;
      padding-left: 10px; }
      .fancybox-chuyen-nganh .second-block .second-block-inner .job-target li:before {
        font-family: FontAwesome;
        content: "\f0da";
        left: 0px; }
  .fancybox-chuyen-nganh .second-block .second-block-inner .btn-wrap a:focus {
    color: #fff; }

.menu > ul {
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  margin: 10px 0 0;
  width: 170px;
  z-index: 999;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  transform: translateX(320px);
  -webkit-transform: translateX(320px);
  text-align: left; }
  .menu > ul li {
    padding: 7px;
    border-bottom: 1px solid #d2d2d2; }

.main-nav.active > ul {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important; }

/*# sourceMappingURL=mobile.css.map */
