$color: #0066b1;
$color-orange: #f36f21;
$white: #fff;

.container {
  max-width: 1200px;
}
@media (min-width: 1200px){
  .container {
    width: 1200px;
  }
}


.after-df {
  content: "";
  display: block;
  position: absolute;
  @extend .transition;
}

.after-df-rlt {
  content: "";
  display: block;
  position: relative;
  @extend .transition;
}

.round {
  border-radius: 50%;
}

.color {
  color: $color;
}

.color-orange {
  color: $color-orange;
}

.white {
  color: $white;
}

.hvr-color:hover {
  color: $color;
}

.hvr-white:hover {
  color: $white;
}

.bg-color {
  background-color: $color;
}

.bg-color-orange{
  background: $color-orange;
}

.hvr-bg-color:hover {
  background-color: $color;
}

.border-color {
  border-color: $color;
}

.radius0 {
  border-radius: 0px;
}

.radius5{
  border-radius: 5px;
}

.radius30 {
  border-radius: 30px;
}

.font-900 {
  font-weight: 900;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-normal {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: 700;
}

.title10 {
  font-size: 10px;
  line-height: normal;
}

.title14,
.title8,
.title12,
.title16,
.title18,
.title24,
.title30,
.title36,
.title40,
.title48,
.title60,
.title90,
.title120,
.title160,
.title100 {
  font-size: 14px;
  line-height: normal;
}

.title12 {
  font-size: 12px;
  line-height: normal;
}

.title13 {
  font-size: 13px;
  line-height: normal;
}

.title16 {
  font-size: 16px;
}

.title18 {
  font-size: 18px;
  line-height: normal;
}

.title20 {
  font-size: 20px;
  line-height: normal;
}

.title24 {
  font-size: 24px;
  line-height: normal;
}

.title30 {
  font-size: 30px;
  line-height: normal;
}

.title36 {
  font-size: 36px;
  line-height: normal;
}

.title40 {
  font-size: 40px;
  line-height: normal;
}

.title45 {
  font-size: 45px;
  line-height: normal;
}

.title47 {
  font-size: 47px;
  line-height: normal;
}

.title48 {
  font-size: 48px;
  line-height: normal;
}

.title50 {
  font-size: 50px;
  line-height: normal;
}

.title60 {
  font-size: 60px;
  line-height: normal;
}

.title70 {
  font-size: 70px;
  line-height: normal;
}

.transition {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
}

.flex-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

.inline-flex-wrap {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
}

.flex-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}

.jtf-content-end {
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.jtf-content-space-between {
  justify-content: space-between;
}

.jtf-content-center {
  justify-content: center;
}

.bg-overlay {
  @extend .after-df;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.no-margin {
  margin: 0px;
}

.pst-relative {
  position: relative;
}

.pst-absolute {
  position: absolute;
}

.bg-parallax {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0
}

.inline-block {
  display: inline-block;
}

.fontosw {
  font-family: Oswald;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

img {
  width: 100%;
}

/* custom css */
.header{

}
.header-row-wrapper{
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 30px;
  padding-right: 30px;
  .col-menu{
    padding-top: 30px;
  }
  .col-register{
    padding-top: 20px;
    .btn-dk{
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

.address-contact-wrap{
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  margin: 0px -15px;
  a{
    @extend .flex-wrap;
    @extend .flex-wrap-wrap;
    @extend .align-items-center;
    margin: 0px 15px;
    i{
      width: 16px;
      height: 16px;
      background: $white;
      color:  $color-orange;
      @extend .pst-relative;
      @extend .round;
      margin-right: 5px;
      margin-top: -1px;
      &:before{
        top: 3px;
        left: 4px;
        position: absolute;
        font-size: 12px;
      }
    }
  }
}

a:focus, a:hover{
  color: $color-orange;
}

.logo{
  padding-top: 13px;
  padding-bottom: 17px;
  a{
    display: block;
    max-width: 280px;
  }
}
.main-nav{
  ul{
    li{
      margin: 0px 15px;
      a{
        display: inline-block;
      }
    }
  }
}

.owl-carousel {
  .owl-nav{
    [class*=owl-]{
      background: #333 !important;
      background: #333 !important;
    }
    button{
      width: 36px;
      height: 36px;
      display: inline-block;
      opacity: 1;
      padding: 0;
      text-align: center;
      margin: -18px 0 0 !important;
      border-radius: 0px;
      border: 1px solid #e1e1e1;
      font-size: 14px;
      position: absolute;
      top: 50%;
      z-index: 9;
      color: #999;
      background: #333;
      transition: all 0.3s ease-out 0s;
      -webkit-transition: all 0.3s ease-out 0s;
      &.owl-prev{
        left: 35px;
      }
      &.owl-next{
        right: 35px;
      }
    }
  }
}

.banner-slider{
  .banner-item{
    background-size: cover;
  }
  .owl-dots{
    display: none;
  }
}
a{
  @extend .transition;
}
a:focus, a:hover {
  text-decoration: none;
}

.btn-dk {
  height: 40px;
  line-height: 40px;
  padding: 0px 50px;
  margin: auto;
  @extend .radius30;
}

.title-box-wrap {
  .title-box{
    padding-bottom: 26px;
    margin-bottom: 24px;
    &:after{
      @extend .after-df;
      width: 60px;
      width: 60px;
      height: 5px;
      background-image: -moz-linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
      background-image: linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
      background-image: -webkit-linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
      background-image: -ms-linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
      background-size: 200% auto;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      transform: skewX(-45deg);
    }
  }
  .title-desc{
    max-width: 750px;
    margin: auto;
    margin-bottom: 20px;
    &:before{
      @extend .after-df;
      font-family: FontAwesome;
      content:"\f10d";
      font-size: 22px;
      color: $color-orange;
      left: -30px;
      top: 0px;
    }
    &:after{
      @extend .after-df;
      font-family: FontAwesome;
      content:"\f10e";
      font-size: 22px;
      top: 0px;
      color: $color-orange;
      right: -30px;
    }
  }
}

.visible-hidden{
  visibility: hidden;
  opacity: 0;
}

.overflow-hidden{
  overflow: hidden;
}

.wcs-wrap{
  margin-left: -7.5px;
  margin-right: -7.5px;
  > div{
    padding: 0px 7.5px;
  }
}

.wcs-item{
  margin-bottom: 30px;
  @extend .pst-relative;
  //border: 1px solid $color;
  //padding: 10px;
  .img-wrap{
    margin-bottom: 15px;
    img{
      @extend .transition;
    }
  }
  h3{
    margin-bottom: 12px;
  }
  .wcs-short-desc{
    margin-bottom: 15px;
    text-align: justify;
  }
  .wcs-desc{
    @extend .pst-absolute;
    @extend .transition;
    right: calc(-100% - 15px);
    left: calc(100% + 15px);
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #0066b1;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
    ul{
      li{
        @extend .pst-relative;
        text-indent: 20px;
        padding-bottom: 10px;
        margin-bottom: 13px;
        border-bottom: 1px solid $color;
        font-weight: 500;
        .chance-desc{
          margin-bottom: 13px;
        }
        .list-chance{
          span{
            display: block;
            text-indent: 0px;
            @extend .pst-relative;
            padding-left: 10px;
            margin-bottom: 10px;
            margin-bottom: 10px;
            &:before{
              @extend .after-df;
              font-family: FontAwesome;
              color: $color-orange;
              content:"\f0da";
              left: 0px;
              top: 0px;
            }
          }
        }
        &:before{
          @extend .after-df;
          font-family: FontAwesome;
          content:"\f178";
          top: -1px;
          text-indent: 0px;
          color: $color-orange;
        }
        &:last-child{
          border: none;
        }
      }
    }
  }
  .star-box{
    margin-bottom: 4px;
    .star-rating{
      width: 60px;
      height: 9px;
      overflow: hidden;
      background: url("../images/rate-star.png");
      background-repeat: repeat-x;
      margin-top: 5px;
    }
  }
  &.last-item{
    .wcs-desc{
      left: calc(-100% - 15px);
      right: calc(100% + 15px);
    }
  }
  &:hover{
    .wcs-desc{
      visibility: visible;
      opacity: 1;
    }
  }
}