$color: #009899;
$color2: #eec279;
$white: #fff;
$grayd2: #d2d2d2;
$black333: #333;

.font-fairplay {
  font-family: "Playfair Display";
}

.container {
  max-width: 1200px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.after-df {
  content: "";
  display: block;
  position: absolute;
  @extend .transition;
}

.round {
  border-radius: 50%;
}

.color {
  color: $color;
}

.color2 {
  color: $color2;
}

.black333 {
  color: $black333;
}

.grayd2 {
  color: $grayd2;
}

.white {
  color: $white;
}

.hvr-color:hover {
  color: $color;
}

.hvr-white:hover {
  color: $white;
}

.bg-color {
  background-color: $color;
}

.hvr-bg-color:hover {
  background-color: $color;
}

.border-color {
  border-color: $color;
}

.radius0 {
  border-radius: 0px;
}

.radius5 {
  border-radius: 5px;
}

.radius15 {
  border-radius: 15px;
}

.radius30 {
  border-radius: 30px;
}

.font-900 {
  font-weight: 900;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-normal {
  font-weight: normal;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: 700;
}

.title10 {
  font-size: 10px;
  line-height: normal;
}

.title14,
.title8,
.title12,
.title16,
.title18,
.title24,
.title30,
.title36,
.title40,
.title48,
.title60,
.title90,
.title120,
.title160,
.title100 {
  font-size: 14px;
  line-height: normal;
}

.title12 {
  font-size: 12px;
  line-height: normal;
}

.title13 {
  font-size: 13px;
  line-height: normal;
}

.title16 {
  font-size: 16px;
}

.title18 {
  font-size: 18px;
  line-height: normal;
}

.title20 {
  font-size: 20px;
  line-height: normal;
}

.title22 {
  font-size: 22px;
  line-height: normal;
}

.title24 {
  font-size: 24px;
  line-height: normal;
}

.title30 {
  font-size: 30px;
  line-height: normal;
}

.title36 {
  font-size: 36px;
  line-height: normal;
}

.title40 {
  font-size: 40px;
  line-height: normal;
}

.title45 {
  font-size: 45px;
  line-height: normal;
}

.title47 {
  font-size: 47px;
  line-height: normal;
}

.title48 {
  font-size: 48px;
  line-height: normal;
}

.title50 {
  font-size: 50px;
  line-height: normal;
}

.title60 {
  font-size: 60px;
  line-height: normal;
}

.title70 {
  font-size: 70px;
  line-height: normal;
}

.transition {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
}

.flex-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

.inline-flex-wrap {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
}

.flex-wrap {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}

.jtf-content-end {
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.jtf-content-space-between {
  justify-content: space-between;
}

.jtf-content-center {
  justify-content: center;
}

.bg-overlay {
  @extend .after-df;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.no-margin {
  margin: 0px;
}

.pst-relative {
  position: relative;
}

.pst-absolute {
  position: absolute;
}

.bg-parallax {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0
}

.inline-block {
  display: inline-block;
}

body {
  font-family: Roboto, Arial, sans-serif;
  //padding-right: 0px !important;
}

input[type=password],
input[type=number],
input[type=email],
input[type=text],
textarea {
  border: 1px solid #d2d2d2;
  height: 40px;
  line-height: 38px;
  font-size: 16px;
  padding: 0px 15px;
  width: 100%;
  &:focus, &:focus-visible {
    outline: none;
  }
}

select {
  border: 1px solid #d2d2d2;
  background: $white;
  height: 40px;
  line-height: 38px;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  @extend .transition;
}

a:focus, a:hover {
  text-decoration: none;
}

a:focus, a:hover {
  color: $color;
}

.visible-hidden {
  visibility: hidden;
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

/* custom css */

.owl-carousel.owl-theme {
  .owl-nav {
    [class*=owl-] {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(210, 210, 210, 0.9);
      @extend .round;
      outline: none;
      i {
        color: $color;
        line-height: 34px;
      }
      &:hover {
        background: $color;
        border: 1px solid $color;
        i {
          color: $white;
        }
      }
    }
    button {
      width: 36px;
      height: 36px;
      display: inline-block;
      opacity: 1;
      padding: 0;
      text-align: center;
      margin: -18px 0 0 !important;
      border: 1px solid #e1e1e1;
      font-size: 14px;
      position: absolute;
      top: 50%;
      z-index: 9;
      color: #999;
      transition: all 0.3s ease-out 0s;
      -webkit-transition: all 0.3s ease-out 0s;
      &.owl-prev {
        left: 15px;
      }
      &.owl-next {
        right: 15px;
      }
    }
  }
}

.header {
  background-color: $color;
  background-image: url("../imgs/bg-image.jpg");
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "svn gotham rounded";
  src: url("../css/fonts/svn-gotham-rounded-regular.woff2");
}

body {
  font-family: "svn gotham rounded", sans-serif;
}

.main-nav {
  ul {
    li {
      margin: 0px 20px;
      a {
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        &:hover {
          color: $color2;
        }
      }
    }
  }
  &.main-nav1 {
    //padding-right: 20px;
    padding: 14px 20px 14px 0px;
  }
  &.main-nav2 {
    // padding-left: 20px;
    padding: 14px 0px 14px 15px;
  }
}

.logo {
  img {
    width: auto;
    width: 95px;
    max-width: 100%;
    margin: auto;
    display: block;
  }
}

.hm-row1 {
  padding-top: 40px;
  padding-bottom: 40px;
  video {
    display: block;
    max-width: 100%;
  }
}

.hm-row2 {
  background-color: $color;
  background-image: url("../imgs/bg-hm-r2.jpg");
  background-size: cover;
  background-position: center bottom;
  padding-top: 50px;
  padding-bottom: 65px;
  h3 {
    margin-bottom: 17px;
  }
}

input[type="submit"] {
  height: 40px;
  line-height: 40px;
  background: $color2;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  width: 100%;
}

.hm-row3 {

}

.hm-row4 {
  background: url("../imgs/hm-row4/background-row4.jpg");
  padding: 30px 15px;
  background-size: cover;
  background-position: center;
}

.box-tongquan {
  @extend .inline-block;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 15px;
  border-radius: 50px;
  .box-tongquan-desc {
    margin-bottom: 0px;
    white-space: pre-line;
    max-width: 510px;
    line-height: 1.85;
  }
}

.box-title {
  width: fit-content;
  padding: 10px 60px;
  margin: auto;
  margin-bottom: 15px;
  @extend .pst-relative;
  span {
    @extend .pst-relative;
    z-index: 1;
  }
  &:before {
    background: #fff;
    @extend .after-df;
    @extend .bg-overlay;
    transform: skew(-30deg, 0deg);
  }
  .title-decor {
    width: 4px;
    height: 25px;
    display: block;
    position: absolute;
    background: $color;
    transform: skew(-30deg, 0deg);
    &.decor-left {
      left: 8px;
      top: 15px;
      &:before {
        @extend .after-df;
        width: 4px;
        height: 25px;
        display: block;
        position: absolute;
        background: $color;
        left: 8px;
      }
      &:after {
        @extend .after-df;
        width: 4px;
        height: 25px;
        display: block;
        position: absolute;
        background: $color;
        left: 16px;
      }
    }
    &.decor-right {
      right: 8px;
      bottom: 15px;
      &:before {
        @extend .after-df;
        width: 4px;
        height: 25px;
        display: block;
        position: absolute;
        background: $color;
        right: 8px;
      }
      &:after {
        @extend .after-df;
        width: 4px;
        height: 25px;
        display: block;
        position: absolute;
        background: $color;
        right: 16px;
      }
    }
  }
}

.box-title-outer {
  background-color: $color;
  background-image: url("../imgs/bg-image.jpg");
  padding: 40px 15px;
  background-size: cover;
  background-position: center;
  .box-title {
    margin-bottom: 0px;
  }
}

.hm-row5 {

  .box-content-outer {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}

.content-row6-inner {
  line-height: 1.75;
  padding-top: 25px;
  padding-bottom: 20px;
}

.hm-row6 {

}

.hm-row7 {
  .box-content-outer {
    background-image: url("../imgs/hm-row7/hm-row7-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 160px;
    padding-bottom: 360px;
  }

}

.chudautu-item {
  padding: 0px 25px;
  .chudautu-item-inner {
    border-radius: 50px;
    overflow: hidden;
    .logo-img {
      height: 120px;
      background: #fff;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
      }
    }
    .item-content {
      background: rgba(0, 152, 153, 0.8);
      h4 {
        padding: 45px 80px;
      }
      .btn-wrap {
        padding-bottom: 15px;
        a {
          height: 30px;
          line-height: 30px;
          background: #fff;
          border-radius: 30px;
          padding: 0px 15px;
          color: $color;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
  &.box-center {
    padding-top: 160px;
  }
}

.box-donvi {
  overflow: hidden;
  border-radius: 15px;
  .box-header {
    div {
      width: 33.333333%;
      @extend .title20;
      @extend .font-fairplay;
      color: #fff;
      @extend .bg-color;
      text-align: center;
      padding: 9.5px 15px;
    }
  }
  .box-body {
    background-image: -webkit-linear-gradient(270deg, white 0%, #ededed 100%);
    padding-bottom: 45px;
    .inner {
      > div {
        width: 33.333333%;
        padding: 0px 12px;
        padding-top: 22px;
        position: relative;
        &:before {
          @extend .after-df;
          height: 2px;
          width: calc(100% - 16px);
          margin: auto;
          background: $color;
          left: 0px;
          right: 0px;
          bottom: 0px;
        }
      }
    }
  }
}

.hm-row8 {
  .box-content-outer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.title-box-2 {
  margin-bottom: 80px;
  .title-wrap {
    height: 45px;
    line-height: 41px;
    padding: 0px 30px;
    border: 2px solid $color;
    border-radius: 30px;
    box-shadow: 0 1px 10px rgba(0, 152, 153, 0.7);
  }
}

.wcs-wrap {
  padding-bottom: 42px;
  img {
    width: auto;
  }
}

.t888-slider.owl-carousel.default {
  .owl-nav {
    margin-top: 0px;
    button[type="button"], &.owl-prev, &.owl-next {
      top: unset;
      bottom: 25px;
      background: transparent;
      border: none;
      i {
        color: #fff;
        font-size: 85px;
        @extend .transition;
      }
      &:hover {
        background: transparent;
        border: none;
        i {
          color: $color2;
        }
      }
    }
  }
}

.modal-open {
  overflow: unset;
}

.owl-dots {
  height: 20px;
  .owl-dot {
    outline: none !important;
    &:focus, &.active {
      //zoom: 1.2;
    }
    &.active span, &:hover span {
      background: #0066b1 !important;
    }
  }
}

.t888-slider.slider-matbang.owl-carousel.owl-theme {
  .slider-item {
    h4 {
      margin-bottom: 35px;
    }
  }
  .owl-nav {
    .owl-prev {
      left: -30px;
      background: transparent;
      border: none;
      font-size: 40px;
      width: fit-content;
      height: fit-content;
      &:hover {
        i {
          color: $color2;
        }
      }
    }
    .owl-next {
      width: fit-content;
      height: fit-content;
      right: -30px;
      background: transparent;
      border: none;
      font-size: 40px;
      &:hover {
        i {
          color: $color2;
        }
      }
    }
  }
}

.mota-matbang {
  white-space: pre-line;
  line-height: 46px;
  padding-top: 250px;
  padding-left: 30px;
}

.box-content-outer3, .box-content-outer4 {
  padding-top: 100px;
}

.box-content-outer4 {
  padding-bottom: 100px;
}

.mota-tienich {
  padding-top: 30px;
  margin-bottom: 30px;
}

.tienich-wrap {
  margin-bottom: 45px;
  padding: 0px 15px;
  .img-wrap {
    margin-bottom: 15px;
  }
}

.hm-row10 {
  background-image: url("../imgs/hm-row10/img-bg-row10.jpg");
  .box-title-outer {
    background-image: unset;
    background: transparent;
  }
  padding-bottom: 50px;
}

.hm-row11 {
  .box-content-outer {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

.tintuc-wrap {
  margin-bottom: 30px;
  .img-wrap {
    margin-bottom: 20px;
  }
  .title-wrap {
    white-space: pre-line;
    font-size: 12px;
  }
}

.btn-wrap {
  padding-bottom: 15px;
  a {
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 30px;
    padding: 0px 15px;
    color: $color;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
  }
}

.footer {
  background-image: url("../imgs/hm-row10/img-bg-row10.jpg");
  background-size: cover;
  background-position: center top;
  padding-top: 40px;
  padding-bottom: 40px;
  .footer-col-left-wrap {
    padding-top: 80px;
    .footer-col-left {
      margin-bottom: 15px;
      .box-logo-cen {
        img {
          width: auto;
          border-radius: 10px;
          overflow: hidden;
        }
        span {
          padding-left: 10px;
        }
      }
    }
    .footer-col-left-desc {
      .box-icon-cen {
        margin-bottom: 15px;
        img {
          width: auto;
          border-radius: 50%;
        }
        span {
          padding-left: 15px;
        }
      }
    }
  }

}

.footer-col-right {
  padding-left: 15px;
  @extend .pst-relative;
  &:before {
    @extend .after-df;
    width: 5px;
    top: 75px;
    bottom: 0px;
    background: #fff;
    left: -20px;
  }
  .footer-col-right-inner {
    img {
      width: auto;
    }
  }
  .form-footer {
    input {
      border: none;
      padding: 0px;
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
      height: 40px;
      padding-top: 12px;
      margin-bottom: 25px;
      color: #fff;
      font-size: 16px;
      &::placeholder {
        color: #fff;
      }
      &:focus, &:focus-visible {
        outline: none;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.box-thucte-wrap {
  width: 80%;
  margin: auto;
}

.thucte-main {
  .img-wrap {
    padding: 7px;
    overflow: hidden;
    @extend .pst-relative;
    &:before {
      @extend .after-df;
      @extend .bg-overlay;
      background-image: linear-gradient(to right, #897946 0%, #FFCC67 32.8%, #FFF1A4 52.4%, #F8DD7B 72.98%, #B19C59 82.99%, #B19C59 100%);
      top: -45%;
      right: -45%;
      left: -45%;
      bottom: -45%;
      transform: rotate(45deg);
    }
    img {
      @extend .pst-relative;
      z-index: 1;
    }
  }
  .slick-prev {
    width: fit-content;
    height: fit-content;
    left: -50px;
    &:before {
      content: "\f104";
      font-family: FontAwesome;
      font-size: 85px;
    }
  }
  .slick-next {
    width: fit-content;
    height: fit-content;
    right: -50px;
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      font-size: 85px;
    }
  }
}

.thucte-nav-outer {
  padding-top: 20px;
  margin: 0px -12px;
}

.thucte-nav {
  .img-wrap-outer {
    padding: 0px 12.5px;
    .img-wrap {
      padding: 5px;
      overflow: hidden;
      @extend .pst-relative;
      &:before {
        @extend .after-df;
        @extend .bg-overlay;
        background-image: linear-gradient(to right, #897946 0%, #FFCC67 32.8%, #FFF1A4 52.4%, #F8DD7B 72.98%, #B19C59 82.99%, #B19C59 100%);
        top: -45%;
        right: -45%;
        left: -45%;
        bottom: -45%;
        transform: rotate(45deg);
      }
      img {
        @extend .pst-relative;
        z-index: 1;
      }
    }
  }
}

.logo-mobile {
  img {
    width: auto;
  }
}

.main-nav.main-nav3 {
  padding-top: 15px;
  .menu-btn {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #ffff;
    position: relative;
    span{
      position: absolute;
      width: 25px;
      height: 1px;
      background: #fff;
      top: 17.5px;
      left: 6px;
      &:before{
        @extend .after-df;
        height: 1px;
        width: 25px;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(0, -6px, 0);
        transform: translate3d(0, -6px, 0);
        background: #fff;
      }
      &:after{
        @extend .after-df;
        height: 1px;
        width: 25px;
        left: 0;
        right: 0;
        margin: auto;
        top: 50%;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(0, 6px, 0);
        transform: translate3d(0, 6px, 0);
        background: #fff;
      }
    }
  }
  ul{
    margin: 10px 0 0;
    padding-top: 0px;
    position: absolute;
    right: 15px;
    left: unset;
    top: 100%;
    width: calc(100vw - 30px);
    z-index: 999;
    background: #fff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    transform: translateX(120vw);
    -webkit-transform: translateX(120vw);
    text-align: left;
    li{
      a{
        display: block;
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid #e1e1e1;
        color: $color;
      }
      &:last-child{
        a{
          border-bottom: none;
        }
      }
    }
  }
  &.active{
    ul{
      transform: translateX(0) !important;
      -webkit-transform: translateX(0) !important;
    }
  }
}

@media (max-width: 1400px) {
  .box-donvi .box-body .inner > div{
    padding: 0px 10px;
    padding-top: 22px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .title36{
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
  }
  .chudautu-item{
    padding: 0px 15px;
    width: 33.33333%;
  }
  .chudautu-item .chudautu-item-inner .item-content h4 {
    padding: 15px;
  }
  .chudautu-item .chudautu-item-inner .logo-img{
    height: 80px;
    overflow: hidden;
  }
  .chudautu-item .chudautu-item-inner .logo-img img{
    max-width: 60%;
  }
  .chudautu-item.box-center {
    padding-top: 50px;
  }
  .hm-row7 .box-content-outer{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1199px) {
  .main-nav ul li {
    margin: 0px 6px;
  }
  .main-nav ul li a {
    font-size: 12px;
  }
  .main-nav.main-nav1 {
    padding-right: 0px;
  }
  .main-nav.main-nav2 {
    padding-left: 0px;
  }
  html{
    overflow-x: hidden;
    width: 100vw;
  }
  body{
    overflow-x: hidden;
    width: 100vw;
  }
}

@media (max-width: 991px) {
  .matbang-img{
    margin-bottom: 50px;
  }
  .mota-matbang{
    padding-top: 200px;
  }
}

@media (max-width: 840px){
  .mota-matbang{
    padding-top: 100px;
  }
}

@media (max-width: 768px){
  .mota-matbang{
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .hm-row2{
    form{
      input{
        margin-bottom: 15px;
      }
    }
  }
  .hm-row7 .box-content-outer{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .chudautu-item.box-center {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .chudautu-item{
    width: 100%;
  }
  .chudautu-item .chudautu-item-inner .logo-img{
    height: 120px;
  }
  .title-box-2{
    margin-bottom: 50px;
  }
  .mota-matbang{
    padding-top: 30px;
    padding-left: 0px;
  }
  .box-content-outer3, .box-content-outer4{
    padding-top: 30px;
  }
  .box-content-outer4{
    padding-bottom: 30px;
  }
  .tienich-wrap{
    padding: 0px;
  }
  .footer .footer-col-left-wrap{
    padding-top: 0px;
  }
  .box-thucte-wrap{
    width: 100%;
  }
  .thucte-nav .img-wrap-outer{
    padding: 0px 5px;
  }
  .thucte-nav-outer{
    margin: 0px -4.5px;
    padding-top: 5px;
  }
  .footer .footer-col-left-wrap .footer-col-left-desc .box-icon-cen img{
    width: 34px;
  }
  .footer .footer-col-left-wrap .footer-col-left-desc .box-icon-cen > span{
    width: calc(100% - 35px);
  }
  .footer .footer-col-left-wrap .footer-col-left .box-logo-cen img{
    margin-bottom: 15px;
  }
}
