.container {
  max-width: 1200px; }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
.after-df, .bg-overlay, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:before, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:after, .banner-slider .banner-item .banner-info .slider-content-text .line2 strong:after, .banner-slider .banner-item .banner-info .slider-content-text .line3 strong:after, .banner-slider .banner-item .banner-info .slider-content-text .line4 strong:after, .title-box-wrap .title-box:after, .title-box-wrap .title-box:before, .title-box-wrap .title-desc:before, .title-box-wrap .title-desc:after, .wcs-item .wcs-desc ul li .list-chance span:before, .wcs-item .wcs-desc ul li:before, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-name:after, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-desc:before {
  content: "";
  display: block;
  position: absolute; }

.after-df-rlt {
  content: "";
  display: block;
  position: relative; }

.round, .address-contact-wrap a i, .owl-carousel .owl-nav [class*=owl-], .data-item .data-item-inner {
  border-radius: 50%; }

.color, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-career {
  color: #0066b1; }

.color-orange, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-desc:before {
  color: #f36f21; }

.color-green {
  color: #0cb14b; }

.white, .data-item .data-item-inner i, .data-item .data-item-inner .number, .data-item .data-item-inner p, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:after {
  color: #fff; }

.hvr-color:hover {
  color: #0066b1; }

.hvr-white:hover {
  color: #fff; }

.bg-color, .banner-slider .banner-item .banner-info .slider-content-text .line2 strong:after, .data-item .data-item-inner {
  background-color: #0066b1; }

.bg-color-orange, .banner-slider .banner-item .banner-info .slider-content-text .line3 strong:after, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-name:after {
  background: #f36f21; }

.bg-color-green, .banner-slider .banner-item .banner-info .slider-content-text .line4 strong:after {
  background: #0cb14b; }

.hvr-bg-color:hover {
  background-color: #0066b1; }

.border-color {
  border-color: #0066b1; }

.radius0 {
  border-radius: 0px; }

.radius5 {
  border-radius: 5px; }

.radius30, .btn-dk {
  border-radius: 30px; }

.font-900 {
  font-weight: 900; }

.font-300 {
  font-weight: 300; }

.font-400 {
  font-weight: 400; }

.font-500 {
  font-weight: 500; }

.font-600 {
  font-weight: 600; }

.font-normal {
  font-weight: normal; }

.font-italic {
  font-style: italic; }

.font-bold {
  font-weight: 700; }

.title10 {
  font-size: 10px;
  line-height: normal; }

.title14,
.title8,
.title12,
.data-item .data-item-inner p,
.title16,
.title18,
.title24,
.title30,
.title36,
.title40,
.title48,
.title60,
.title90,
.title120,
.title160,
.title100 {
  font-size: 14px;
  line-height: normal; }

.title12, .data-item .data-item-inner p {
  font-size: 12px;
  line-height: normal; }

.title13 {
  font-size: 13px;
  line-height: normal; }

.title16 {
  font-size: 16px; }

.title18 {
  font-size: 18px;
  line-height: normal; }

.title20 {
  font-size: 20px;
  line-height: normal; }

.title24 {
  font-size: 24px;
  line-height: normal; }

.title30 {
  font-size: 30px;
  line-height: normal; }

.title36 {
  font-size: 36px;
  line-height: normal; }

.title40 {
  font-size: 40px;
  line-height: normal; }

.title45 {
  font-size: 45px;
  line-height: normal; }

.title47 {
  font-size: 47px;
  line-height: normal; }

.title48 {
  font-size: 48px;
  line-height: normal; }

.title50 {
  font-size: 50px;
  line-height: normal; }

.title60 {
  font-size: 60px;
  line-height: normal; }

.title70 {
  font-size: 70px;
  line-height: normal; }

.transition, .after-df, .bg-overlay, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:before, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:after, .banner-slider .banner-item .banner-info .slider-content-text .line2 strong:after, .banner-slider .banner-item .banner-info .slider-content-text .line3 strong:after, .banner-slider .banner-item .banner-info .slider-content-text .line4 strong:after, .title-box-wrap .title-box:after, .title-box-wrap .title-box:before, .title-box-wrap .title-desc:before, .title-box-wrap .title-desc:after, .wcs-item .wcs-desc ul li .list-chance span:before, .wcs-item .wcs-desc ul li:before, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-name:after, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-desc:before, .after-df-rlt, a, .wcs-item .img-wrap img, .wcs-item .wcs-desc, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a img {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s; }

.flex-wrap, .address-contact-wrap a {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex; }

.inline-flex-wrap {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox; }

.flex-wrap, .address-contact-wrap a {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex; }

.flex-wrap-wrap, .address-contact-wrap a {
  flex-wrap: wrap; }

.align-items-center, .address-contact-wrap a {
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }

.jtf-content-end {
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end; }

.jtf-content-space-between {
  justify-content: space-between; }

.jtf-content-center {
  justify-content: center; }

.bg-overlay, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:before, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:after {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px; }

.no-margin {
  margin: 0px; }

.pst-relative, .address-contact-wrap a i, .banner-slider .banner-item .banner-info .slider-content-text .line2 strong, .banner-slider .banner-item .banner-info .slider-content-text .line3 strong, .banner-slider .banner-item .banner-info .slider-content-text .line4 strong, .wcs-item, .wcs-item .wcs-desc ul li, .wcs-item .wcs-desc ul li .list-chance span, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-name, .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-desc, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a {
  position: relative; }

.pst-absolute, .wcs-item .wcs-desc, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:before {
  position: absolute; }

.bg-parallax {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

.list-none {
  list-style: none;
  margin: 0;
  padding: 0; }

.inline-block, .banner-slider .banner-item .banner-info .slider-content-text .line2 strong, .banner-slider .banner-item .banner-info .slider-content-text .line3 strong, .banner-slider .banner-item .banner-info .slider-content-text .line4 strong {
  display: inline-block; }

.fontosw {
  font-family: Oswald; }

body {
  font-family: Roboto, Arial, sans-serif; }

input[type=password],
input[type=number],
input[type=email],
input[type=text],
textarea {
  border: 1px solid #d2d2d2;
  height: 40px;
  line-height: 38px;
  font-size: 16px;
  padding: 0px 15px; }

select {
  border: 1px solid #d2d2d2;
  height: 40px;
  line-height: 38px;
  font-size: 16px; }

img {
  width: 100%; }

/* custom css */
.header-row-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 30px;
  padding-right: 30px; }
  .header-row-wrapper .col-menu {
    padding-top: 30px; }
  .header-row-wrapper .col-register {
    padding-top: 20px; }
    .header-row-wrapper .col-register .btn-dk {
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }

.address-contact-wrap {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  margin: 0px -15px; }
  .address-contact-wrap a {
    margin: 0px 15px; }
    .address-contact-wrap a i {
      width: 16px;
      height: 16px;
      background: #fff;
      color: #f36f21;
      margin-right: 5px;
      margin-top: -1px; }
      .address-contact-wrap a i:before {
        top: 3px;
        left: 3.5px;
        position: absolute;
        font-size: 12px; }

a:focus, a:hover {
  color: #f36f21; }

.logo {
  padding-top: 13px;
  padding-bottom: 17px; }
  .logo a {
    display: block;
    max-width: 280px; }

.main-nav ul li {
  margin: 0px 15px; }
  .main-nav ul li a {
    display: inline-block; }

.owl-carousel .owl-nav [class*=owl-] {
  background: rgba(255, 255, 255, 0.8) !important;
  border: 1px solid rgba(210, 210, 210, 0.9) !important;
  outline: none; }
  .owl-carousel .owl-nav [class*=owl-] i {
    color: #f36f21;
    line-height: 34px; }
  .owl-carousel .owl-nav [class*=owl-]:hover {
    background: #0066b1 !important;
    border: 1px solid #0066b1 !important; }
    .owl-carousel .owl-nav [class*=owl-]:hover i {
      color: #fff; }
.owl-carousel .owl-nav button {
  width: 36px;
  height: 36px;
  display: inline-block;
  opacity: 1;
  padding: 0;
  text-align: center;
  margin: -18px 0 0 !important;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  position: absolute;
  top: 50%;
  z-index: 9;
  color: #999;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s; }
  .owl-carousel .owl-nav button.owl-prev {
    left: 15px; }
  .owl-carousel .owl-nav button.owl-next {
    right: 15px; }

.banner-slider .banner-item {
  background-size: cover !important; }
  .banner-slider .banner-item .banner-info {
    top: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%; }
    .banner-slider .banner-item .banner-info .slider-content-text {
      display: inline-block;
      overflow: hidden; }
      .banner-slider .banner-item .banner-info .slider-content-text .line1 {
        -webkit-text-stroke: 2px #fff;
        margin-bottom: 10px; }
      .banner-slider .banner-item .banner-info .slider-content-text .line2 {
        margin-bottom: 15px; }
        .banner-slider .banner-item .banner-info .slider-content-text .line2 strong {
          border-radius: 10px 0px 0px 0px;
          padding: 10.5px 20px 10.5px 15px;
          z-index: 1;
          position: relative; }
          .banner-slider .banner-item .banner-info .slider-content-text .line2 strong:after {
            transform: skewX(-20deg);
            width: 20px;
            height: 100%;
            top: 0px;
            right: -10px; }
      .banner-slider .banner-item .banner-info .slider-content-text .line3 {
        margin-bottom: 15px; }
        .banner-slider .banner-item .banner-info .slider-content-text .line3 strong {
          padding: 10.5px 24px 10.5px 15px;
          z-index: 1;
          position: relative; }
          .banner-slider .banner-item .banner-info .slider-content-text .line3 strong:after {
            transform: skewX(-20deg);
            width: 20px;
            height: 100%;
            top: 0px;
            right: -10px; }
      .banner-slider .banner-item .banner-info .slider-content-text .line4 {
        margin-bottom: 15px; }
        .banner-slider .banner-item .banner-info .slider-content-text .line4 strong {
          border-radius: 0px 0px 0px 10px;
          padding: 10.5px 55px 10.5px 15px;
          z-index: 1;
          position: relative; }
          .banner-slider .banner-item .banner-info .slider-content-text .line4 strong:after {
            transform: skewX(-20deg);
            width: 20px;
            height: 100%;
            top: 0px;
            right: -10px; }
      .banner-slider .banner-item .banner-info .slider-content-text .line5 {
        margin-bottom: 15px; }
        .banner-slider .banner-item .banner-info .slider-content-text .line5 .btn-dk {
          visibility: hidden;
          opacity: 0;
          margin: 0px; }
        .banner-slider .banner-item .banner-info .slider-content-text .line5 .lienket-wrap {
          margin: 0px 0px 0px 230px; }
          .banner-slider .banner-item .banner-info .slider-content-text .line5 .lienket-wrap span {
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
            margin: 0px 15px; }
        .banner-slider .banner-item .banner-info .slider-content-text .line5 img {
          width: auto;
          max-width: 75px; }
.banner-slider .owl-dots {
  display: none; }
.banner-slider .owl-nav {
  margin-top: 0px; }
  .banner-slider .owl-nav button {
    visibility: hidden;
    opacity: 0; }
.banner-slider:hover .owl-nav button {
  visibility: visible;
  opacity: 1; }

.banner-slider .owl-item.active .slider-content-text .line1 {
  animation: 1s .3s fadeInDown both; }
.banner-slider .owl-item.active .slider-content-text .line5 {
  animation: 1s .2s fadeInDown both; }
.banner-slider .owl-item.active .slider-content-text .line2 {
  animation: 1s .2s fadeInUp both; }
.banner-slider .owl-item.active .slider-content-text .line3 {
  animation: 1s .3s fadeInUp both; }
.banner-slider .owl-item.active .slider-content-text .line4 {
  animation: 1s .4s fadeInUp both; }

a:focus, a:hover {
  text-decoration: none; }

.btn-dk {
  height: 40px;
  line-height: 40px;
  padding: 0px 50px;
  margin: auto; }

.title-box-wrap .title-box {
  padding-bottom: 26px;
  margin-bottom: 24px; }
  .title-box-wrap .title-box:after {
    width: 75px;
    height: 5px;
    background-image: -moz-linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
    background-image: linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
    background-image: -webkit-linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
    background-image: -ms-linear-gradient(to right, #0066b1 0%, #0cb14b 51%, #0066b1 100%);
    background-size: 200% auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    transform: skewX(-45deg); }
  .title-box-wrap .title-box:before {
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 1;
    bottom: -17.5px;
    background: url("../images/title-after-icon.jpg");
    width: 40px;
    height: 40px;
    background-size: contain; }
.title-box-wrap .title-desc {
  max-width: 750px;
  margin: auto;
  margin-bottom: 20px; }
  .title-box-wrap .title-desc:before {
    font-family: FontAwesome;
    content: "\f10d";
    font-size: 22px;
    color: #f36f21;
    left: -30px;
    top: 0px; }
  .title-box-wrap .title-desc:after {
    font-family: FontAwesome;
    content: "\f10e";
    font-size: 22px;
    top: 0px;
    color: #f36f21;
    right: -30px; }

.visible-hidden, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:before, .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:after {
  visibility: hidden;
  opacity: 0; }

.overflow-hidden {
  overflow: hidden; }

.wcs-title {
  padding-top: 50px; }

.wcs-content {
  padding-bottom: 60px; }

.wcs-wrap {
  margin-left: -7.5px;
  margin-right: -7.5px; }
  .wcs-wrap > div {
    padding: 0px 7.5px; }

.wcs-item {
  margin-bottom: 30px; }
  .wcs-item .img-wrap {
    margin-bottom: 15px; }
  .wcs-item h3 {
    margin-bottom: 12px; }
  .wcs-item .wcs-short-desc {
    margin-bottom: 15px;
    text-align: justify; }
  .wcs-item .wcs-desc {
    right: calc(-100% - 15px);
    left: calc(100% + 15px);
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #0066b1;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5); }
    .wcs-item .wcs-desc ul li {
      text-indent: 20px;
      padding-bottom: 10px;
      margin-bottom: 13px;
      border-bottom: 1px solid #0066b1;
      font-weight: 500; }
      .wcs-item .wcs-desc ul li .chance-desc {
        margin-bottom: 13px; }
      .wcs-item .wcs-desc ul li .list-chance span {
        display: block;
        text-indent: 0px;
        padding-left: 10px;
        margin-bottom: 10px;
        margin-bottom: 10px; }
        .wcs-item .wcs-desc ul li .list-chance span:before {
          font-family: FontAwesome;
          color: #f36f21;
          content: "\f0da";
          left: 0px;
          top: 0px; }
      .wcs-item .wcs-desc ul li:before {
        font-family: FontAwesome;
        content: "\f178";
        top: -1px;
        text-indent: 0px;
        color: #f36f21; }
      .wcs-item .wcs-desc ul li:last-child {
        border: none; }
  .wcs-item .star-box {
    margin-bottom: 4px; }
    .wcs-item .star-box .star-rating {
      width: 60px;
      height: 9px;
      overflow: hidden;
      background: url("../images/rate-star.png");
      background-repeat: repeat-x;
      margin-top: 5px; }
  .wcs-item.last-item .wcs-desc {
    left: calc(-100% - 15px);
    right: calc(100% + 15px); }
  .wcs-item:hover .wcs-desc {
    visibility: visible;
    opacity: 1; }

.form-tu-van .input-wrap, .form-tu-van .select-wrap {
  margin: 0px -7.5px;
  margin-bottom: 15px; }
  .form-tu-van .input-wrap input, .form-tu-van .select-wrap input {
    width: calc(50% - 15px);
    margin: 0px 7.5px; }
  .form-tu-van .input-wrap select, .form-tu-van .select-wrap select {
    width: calc(50% - 15px);
    margin: 0px 7.5px;
    padding: 0px 11px; }
  .form-tu-van .input-wrap textarea, .form-tu-van .select-wrap textarea {
    resize: none;
    height: 150px;
    width: calc(100% - 15px);
    margin: 0px 7.5px; }

.col-contact-form img {
  width: auto;
  margin: auto; }

.form-tu-van-wrap {
  background: url(../images/bg-3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px; }

.form-tu-van .form-title {
  margin-bottom: 30px; }
.form-tu-van .textarea-wrap {
  margin-bottom: 30px; }

.sinhvien_slider {
  margin: 0px -15px; }
  .sinhvien_slider .owl-stage-outer {
    padding-top: 15px;
    padding-bottom: 15px; }
    .sinhvien_slider .owl-stage-outer .owl-item {
      padding: 0px 15px; }
      .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item {
        border: 1px solid #d2d2d2;
        padding: 15px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        min-height: 575px; }
        .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .img-wrap {
          margin-bottom: 15px; }
        .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-name {
          padding-bottom: 14px;
          margin-bottom: 18px; }
          .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-name:after {
            width: 30px;
            height: 3px;
            bottom: 0px; }
        .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-desc {
          text-indent: 25px; }
          .sinhvien_slider .owl-stage-outer .owl-item .sinhvien-item .sv-desc:before {
            font-family: FontAwesome;
            content: "\f064";
            text-indent: 0px;
            font-size: 16px;
            top: -1px; }
  .sinhvien_slider .owl-nav button.owl-prev {
    left: -30px; }
  .sinhvien_slider .owl-nav button.owl-next {
    right: -30px; }

.data-item {
  margin-bottom: 35px; }
  .data-item .data-item-inner {
    width: 215px;
    height: 215px;
    margin: auto;
    padding-top: 45px; }
    .data-item .data-item-inner i {
      margin-bottom: 5px; }

.data-wrap {
  padding-top: 50px;
  padding-bottom: 20px; }
  .data-wrap .title-box:before {
    background: url("../images/title-after-icon-bg-orange.jpg");
    background-size: contain; }

.thu-vien-anh-slider .owl-item {
  padding: 0px 7.5px; }
  .thu-vien-anh-slider .owl-item .thu-vien-anh-item a {
    display: block; }
    .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:before {
      background: rgba(0, 0, 0, 0.3);
      z-index: 1; }
    .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:after {
      font-family: FontAwesome;
      content: "\f00e";
      font-size: 24px;
      width: 25px;
      height: 35px;
      margin: auto;
      z-index: 2;
      transform: scale(0); }
    .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:hover:before {
      visibility: visible;
      opacity: 1; }
    .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:hover:after {
      visibility: visible;
      opacity: 1;
      transform: scale(1); }
    .thu-vien-anh-slider .owl-item .thu-vien-anh-item a:hover img {
      transform: scale(1.05); }

.thu-vien-anh-slider2-wrap {
  margin: 0px -7.5px;
  margin-top: 15px; }

/*# sourceMappingURL=style.css.map */
