.wcs-item{
  border: 1px solid #f5f5f5;
  padding: 10px;
  .icon-box2{
    display: flex;
    p:before{
      font-family: FontAwesome;
      font-size: 32px;
    }
    h3{
      padding-left: 10px;
    }
  }
}
body{
  padding-right: 0px !important;
}
.modal-open{
  overflow: unset;
}