body{
  padding-right: 0px !important;
}
.modal-open{
  overflow: unset;
}
.owl-dots{
  height: 20px;
  .owl-dot{
    outline: none !important;
    &:focus{
      zoom: 1.2;
    }
    &.active span,&:hover span{
      background: #0066b1 !important;
    }
  }
}